body {    
    font-family: 'Poppins', sans-serif;
    background-color: #8766D7;
}

a {
    text-decoration: none;
    color: black;
} 

 a:hover {
    text-decoration: none;
    color: black;
} 

.container {
    margin-top: 60px;   
    text-transform: capitalize;
}

.master {
    width: 45%;
    margin: 0 auto;
    padding: 0px 10px;
    border-radius: 8px;
    border: 0px;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.244); 
}

.search {   
    display: block;
    float: right;
}

.search-input {
    border-radius: 50px;
    padding-left: 12px;
    margin: 0px;
    font-size: 12px;
    height: 30px;
    width: 170px;
    border: none;
    background-color:  rgba(255, 255, 255, 0.346);
}

.search-btn {
    background-color: transparent;
    margin: 0px 0px 0px -33px;
    vertical-align: middle ;
    height: 28px;
}

input[type="submit"] {
    margin: 0px 0px 0px -33px;
    border-radius: 100px;
    background-color: transparent;
    border: none;
    z-index: 10;
    width: 40px;
}

.section-city {
    height:100%;
    line-height: 14px;
}

.search-location {
    border-radius: 50px;
    padding: 7px 11px;
    font-size: 12px;
    margin-bottom: 10px;
    border: none;
    background-color: #8766D7;
    margin-top: 0px;
}

.temperature {  
    display: block;
    margin: 0px;
    font-size: 110px;  
    font-weight: 500;    
    line-height: 120px;
    width: 250px;
    padding: 0px;
}

.celsius {
    font-size: 26px;
    position: relative;
    display: inline;
    vertical-align: top;
    top: -30px;
    left: -25px;     
    font-weight: 500;           
}

.weather {
    line-height: 16px;
    font-size: 20px;
}

.weather-info { 
    font-size: 12px;
}

.weather-card {
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
    background-color:  rgba(255, 255, 255, 0.12);
    background-color:  rgba(255, 255, 255, 0.346);
    border: none; 
    margin: 3px auto;
    border-radius: 4px;
}

.icon-weather {
    width: 55%;
    margin: -10px auto 10px auto; 
    padding: 0px;      
}

.icon-temperature {
    float: right;
    margin-top: 10px;
}

.footer-link {
    width: 45%;
    margin: 10px auto;
    padding: 0px 10px;
    border-radius: 8px;
    color: #212529;
    font-size: 12px;
    border: 0;
    background-color: transparent;
}

.footer-link a {
   color: #cbb5ff;